#root {
  text-align: center;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.679);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.difficulty-box {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.primary-btn {
  padding: 15px 50px;
  background-color: aqua;
  border: none;
  background-color: #ff0;
  font-size: 20px;
  font-weight: 600;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.5s;
}
.primary-btn:hover {
  transition: 0.5s;
  background-color: #9acd32;
}
.active-red {
  background-color: #f10;
}
.active-red:hover {
  background-color: #f10;
}
.category-box {
  width: 30%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
}

.overlay p {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
}
