.overlay {
  background-color: rgba(0, 0, 0, 0.378);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.difficulty-box {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.primary-btn {
  padding: 15px 50px;
  background-color: aqua;
  border: none;
  background-color: #ff0;
  font-size: 20px;
  font-weight: 600;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.5s;
}
.primary-btn:hover {
  transition: 0.5s;
  background-color: #9acd32;
}
.active-red {
  background-color: #f10;
}
.active-red:hover {
  background-color: #f10;
}
.category-box {
  width: 30%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
}

.overlay p {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 50px;
  color: #fff;
}
nav h1 {
  font-size: 1.5rem;
  font-weight: 500;
}

nav p {
  font-size: 1.2rem;
}
.guessed-wrong {
  color: rgb(44, 84, 226);
  margin-bottom: 20px;
}
.time-left-p {
  color: #f10;
}
/*MAIN*/
.container {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 35px;
}
.container img {
  width: 110px;
  height: 210px;
  object-fit: cover;
}
.guess-p {
  font-size: 1.3rem;
}
.word {
  font-size: 3rem;
}
.btn-box {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 10px;
  column-gap: 10px;
}
.secondary-btn {
  padding: 12px 17px;
  font-size: 1.5rem;
  background-color: #07ffc9;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s;
  color: #171b19;
}
.secondary-btn:hover {
  transition: 0.3s;
  background-color: #fff;
}
